@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Homemade+Apple|Indie+Flower|Long+Cang&display=swap");
      #container {
        width: 1000px;
        margin: 10px auto;
        padding: 20px;
      }
      #header {
        padding: 20px;
        margin-bottom: 20px;
        font-family: Dancing Script;
        /* border: 1px solid #bcbcbc; */
      }
      
      #postcard_wrap{
        border-radius: 50px;
        width: 100%;
        text-align: center;
        display: inline-flex;
        height: 500px;
        background-color: #e6e2cf;
        height: 70%;
      }
      .dummyLine{
        margin: 0em 1em 0em 1em;
        flex-basis: 2px;
        display: block;
        background-color: #000000;
      }
      .content {
        width: 50%;
        min-height: 500px;
      }
      .content img{
        width: 80%;
        height: 70%;
        display: none;
        padding: 20px;
      }
      input#upload_file {
        display: none;
      }
      #edit_wrap{
        width: 100%;
        height: 30%;
        display: inline-flex;
        padding-top: 20px;
      }
      #edit_area {
        width: 33.3%;
      }
      #footer {
        clear: both;
        padding: 20px;
        text-align: center;
      }
      textarea { 
        width: 90%; 
        margin: 0; 
        padding: 20px; 
        border-width: 0; 
        height: 100%;
        display: inline-block;
        background-color: inherit;
        outline-style: none;
        font-family: Dancing Script;
        font-size: 3em;
      }
      .square > div{
          width: 50px;
          height: 50px;
          margin: 3%;
          display: inline-block;
      }
      .square > div:hover{
          border : 1px dashed  black;
      }

      #edit_area button{
        margin: auto;
        margin-top: 35%;
        display: inherit;
      }
      #edit_area h2{
        padding-left: 20px;
        font-family: sans-serif;
        font-weight: normal;
        font-size: 2.0em;
        /* \2756 */
      }
      #edit_area ul{
        list-style-type: '\25C7';
      }
      #edit_area ul li{
        padding-left: 10px;
      }
      #edit_area ul li:hover{
        list-style-type: '\2756';
      }
      button{
        border: 3px solid black;
        background-color: rgba(0,0,0,0);
        padding: 10px 20px 10px 20px;
        font-size: 1.5em;
        font-weight: bold;
      }
      .content label {
          display: inline-block;
          text-align: center;
          padding-top: 40%;
          top:50%;
          font-size: 2em;
          flex-grow: 1;
          height: 100%;
          font-family: arial;
          font-weight: bold;
          color: #000000;
      }
      @media ( max-width: 480px ) {
        #container {
          width: auto;
        }
        #postcard_wrap{
          float: none;
          width: 100%;
          display: inline-block;
          height: auto;
        }
        .content {
          float: none;
          width: auto;
          min-height : 250px;
        }
        textarea { 
          width: 90%; 
          margin: 0; 
          padding: 20px; 
          border-width: 0; 
          min-height: 300px;
          display: inline-block;
          background-color: inherit;
          outline-style: none;
          font-size: 1.5em;
        }
        #edit_wrap{
          display: inline-block;
          padding-top: 20px;
        }
        #edit_area {
          width:100%;
        }

        .square > div:hover{
          border : 1px dashed  black;
        }

        #edit_area ul li:hover{
          list-style-type: '\2756';
        }

        .dummyLine{
          margin: 0em 1em 0em 1em;
          flex-basis: 2px;
          display: block;
          background-color: #000000;
          height: 1px;
        }
      }